<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!--<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    &lt;!&ndash; encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %green [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>-->


<configuration>
<!--<root level="ALL">-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-5level | %thread | %logger{1} | %m%n%rEx{full,

                org.springframework.context,
                org.springframework.boot,
                org.apache.camel.impl,
                org.apache.camel.builder,
                org.eclipse.jetty.server,
                javax.servlet.http,
                org.apache.camel.processor,
                org.apache.camel.management
                java.lang.reflect.Method,
                sun.reflect,

                <!--org.apache.catalina,
                org.springframework.aop,
                org.springframework.security,
                org.springframework.transaction,
                org.springframework.web,
                sun.reflect,
                net.sf.cglib,
                ByCGLIB-->
                }
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>


<!--</root>-->
</configuration>
